.user-edit-wrapper {
    display: flex;
    height: calc(100vh - 200px);
    justify-content: center;
    align-items: center;
}

.user-edit-form{
    border: 1px solid black;
    width: 600px;
    padding: 20px;
    background-color: rgb(218, 244, 253);

}