    .user-edit-wrapper {
        display: flex;
        height: 100vh;
        /* height: calc(100vh - 200px); */
        justify-content: center;
        align-items: center;
        background-color: #ffcb74;
    }
    
    .user-edit-form {
        border-radius: 25px;
        border: 1px solid #ffcb74;
        width: 600px;
        padding: 20px;
        background-color: #80bdab;
    }